.products {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.product {
    text-align: center;
    padding: 5px;
    background: rgb(145, 145, 145);
    border-radius: 4px;
    overflow: hidden;
    width: calc(100% / 5 - 20px);
}
.product:nth-child(5n) {
    width: calc(100% / 5);
}

.skeletion_item {
    margin: 0 auto;
    width: 100%;
    max-width: 150px;
    max-height: 40px;
}