.products_list {
    width: 100%;
    padding: 10px;
    position: relative;
    min-height: 100vh;
}

.btn_item {
    background-color: blueviolet;
    opacity: .5;
    position: fixed;
    bottom: 50px;
    padding: 7px 25px;
    &:hover {
        opacity: 1;
        background-color: #5d06a9;
    }
}

.btn_item_left {
    left: 5%;
}

.btn_item_right {
    right: 5%;
    & .icon_next{
        transform: rotate(180deg);
    }
}

