.products_list {
    width: 100%;
    padding: 10px;
}
.products {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.product {
    color: #FFF;
    border-radius: 4px;
    overflow: hidden;
    width: calc(100% / 5 - 20px);
    background-color: #0c46ad;
}
.product:nth-child(5n) {
    width: calc(100% / 5);
}

.btns_wrapper {
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn {
    border: 1px solid #ff7300;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 40px;
    font-size: 16px;
    cursor: pointer;
}

.product_title {
    font-size: 16px;
    background-color: #642c2c;
    padding:10px;
    margin-bottom: 10px;
    text-align: center;
}

.product_brand {
    margin-bottom: 10px;
}

.product_price_item {
    font-weight: bold;
}

.product_id {
    font-size: 12px;
}