body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #000;
    font-family: 'Montserrat Variable', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}

